[submodule "istio/Udemy/istio-hands-on-for-kubernetes/istio/Udemy/istio-hands-on-for-kubernetes/istio/Udemy/istio-hands-on-for-kubernetes/k8s-fleetman"]
	path = istio/Udemy/istio-hands-on-for-kubernetes/istio/Udemy/istio-hands-on-for-kubernetes/istio/Udemy/istio-hands-on-for-kubernetes/k8s-fleetman
	url = https://github.com/DickChesterwood/istio-fleetman.git
